<configuration>

  <appSettings>
    <add key="SERVER" value="SEAKING" />
    <add key="DATABASE" value="SPortal" />
    <add key="USER" value="sa" />
    <add key="DB_PASSWORD" value="sql" />
    <add key="DB_PORT" value="1433" />
  </appSettings>

  <system.webServer>

    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
    <rules>
      <rule name="nodejs">
        <match url="(.*)" />
        <conditions>
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        </conditions>
        <action type="Rewrite" url="server.js" />
      </rule>
    </rules>
    </rewrite> 

    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment="iisnode" />
        </hiddenSegments>
      </requestFiltering>
    </security>

  </system.webServer>

</configuration>
